src/johan_production/flows/New_Customer_Flow-1.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <choices>
        <name>Prospecting</name>
        <choiceText>Prospecting</choiceText>
        <dataType>String</dataType>
    </choices>
    <dynamicChoiceSets>
        <name>OpportunityStage</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>StageName</picklistField>
        <picklistObject>Opportunity</picklistObject>
    </dynamicChoiceSets>
    <formulas>
        <name>OpportunityName</name>
        <dataType>String</dataType>
        <expression>{!Company_Name} &amp; &apos; - &apos; &amp; {!Last_Name}</expression>
    </formulas>
    <formulas>
        <name>plus1month</name>
        <dataType>Date</dataType>
        <expression>IF(
  MOD( MONTH( {!$Flow.CurrentDate} ) + 1, 12 ) = 2,
  IF(
    DAY( {!$Flow.CurrentDate} ) &gt; 28,
    DATE( YEAR( {!$Flow.CurrentDate} ) + FLOOR( ( MONTH( {!$Flow.CurrentDate} ) + 1 ) / 12 ), 3, 1 ),
    DATE( YEAR( {!$Flow.CurrentDate} ) + FLOOR( ( MONTH( {!$Flow.CurrentDate} ) + 1 ) / 12 ), 2, DAY( {!$Flow.CurrentDate} ) )
  ),
  IF(
    OR(
      MOD( MONTH( {!$Flow.CurrentDate} ) + 1, 12 ) = 4,
      MOD( MONTH( {!$Flow.CurrentDate} ) + 1, 12 ) = 6,
      MOD( MONTH( {!$Flow.CurrentDate} ) + 1, 12 ) = 9,
      MOD( MONTH( {!$Flow.CurrentDate} ) + 1, 12 ) = 11
    ),
    IF(
      DAY( {!$Flow.CurrentDate} ) &gt; 30,
      DATE( YEAR( {!$Flow.CurrentDate} ) + FLOOR( ( MONTH(  {!$Flow.CurrentDate}  ) + 1 ) / 12 ),
       MOD( MONTH( {!$Flow.CurrentDate} ) + 1, 12 ) + 1, 1 ),
      DATE( YEAR( {!$Flow.CurrentDate} ) + FLOOR( ( MONTH( {!$Flow.CurrentDate} ) + 1 ) / 12 ),
       MOD( MONTH( {!$Flow.CurrentDate} ) + 1, 12), DAY( {!$Flow.CurrentDate} ) )
    ),
    IF(
      MOD( MONTH( {!$Flow.CurrentDate} ) + 1, 12 ) = 0,
      DATE( YEAR( {!$Flow.CurrentDate} ) + FLOOR( ( MONTH( {!$Flow.CurrentDate} ) + 1 ) / 12 ) - 1, 12, DAY( {!$Flow.CurrentDate} ) ),
      DATE( YEAR( {!$Flow.CurrentDate} ) + FLOOR( ( MONTH( {!$Flow.CurrentDate} ) + 1 ) / 12 ),
       MOD( MONTH( {!$Flow.CurrentDate} ) + 1, 12), DAY( {!$Flow.CurrentDate} ) )
    )
  )
)</expression>
    </formulas>
    <interviewLabel>New Customer Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>New Customer Flow</label>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Account</name>
        <label>Create Account</label>
        <locationX>81</locationX>
        <locationY>193</locationY>
        <assignRecordIdToReference>CreatedAccountId</assignRecordIdToReference>
        <connector>
            <targetReference>Create_Contact</targetReference>
        </connector>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>Company_Name</elementReference>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordCreates>
    <recordCreates>
        <name>Create_Contact</name>
        <label>Create Contact</label>
        <locationX>83</locationX>
        <locationY>289</locationY>
        <connector>
            <targetReference>Create_Opportunity</targetReference>
        </connector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>CreatedAccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FirstName</field>
            <value>
                <elementReference>First_Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LastName</field>
            <value>
                <elementReference>Last_Name</elementReference>
            </value>
        </inputAssignments>
        <object>Contact</object>
    </recordCreates>
    <recordCreates>
        <name>Create_Opportunity</name>
        <label>Create Opportunity</label>
        <locationX>81</locationX>
        <locationY>393</locationY>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>CreatedAccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Amount</field>
            <value>
                <elementReference>Opportunity_Amount</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CloseDate</field>
            <value>
                <elementReference>plus1month</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>OpportunityName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>StageName</field>
            <value>
                <stringValue>Prospecting</stringValue>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordCreates>
    <screens>
        <name>New_Customer_Flow</name>
        <label>New Customer Flow&apos;</label>
        <locationX>87</locationX>
        <locationY>71</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Create_Account</targetReference>
        </connector>
        <fields>
            <name>First_Name</name>
            <dataType>String</dataType>
            <fieldText>First Name</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Last_Name</name>
            <dataType>String</dataType>
            <fieldText>Last Name</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Company_Name</name>
            <dataType>String</dataType>
            <fieldText>Company Name</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Opportunity_Amount</name>
            <dataType>Currency</dataType>
            <fieldText>Opportunity Amount</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>Opportunity_Stage</name>
            <choiceReferences>Prospecting</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Opportunity Stage</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
    </screens>
    <startElementReference>New_Customer_Flow</startElementReference>
    <variables>
        <name>CreatedAccountId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
